
/*Slider section*/
.banners{
	margin-top:7%;
}




/*Trending section*/
.trendingContainer{
	margin-top:25px;
	margin-left:10px;
	position: relative;
}
.trendingContainer h3{
	margin-left:10px;
}
.cardContainer{
	display:flex;
	align-items: center;
	position: relative;
	height:200px;
	width:99%;
	overflow-x: auto;
	transition:0.5s ease-in-out;
	padding: 0px !important;;
}
.cardContainer::-webkit-scrollbar{
	display: none;
}
.cardContainer div{
	border:1px solid grey;
	min-width: 24%;
	height:90%;
	margin-left:.82%;
	transition: 0.5s ease-in-out;
}
.beforeIcon,.afterIcon{
	cursor:pointer;
	font-weight:900;
	font-size:50px;
	height:40px;
	width:40px;
	border-radius:50%;
	position:absolute;
	top:95px;
	z-index: 2;
}
.beforeIcon i,.afterIcon i{
	opacity:.5;
}
.beforeIcon i:hover, .afterIcon i:hover{
	opacity:1;
}
.beforeIcon{
	content:"\f0a8";
	left:20px;
}
.afterIcon{
	float:right;
	content:"\f0a9";
	right:30px;
}



/*Top sellers*/
.topSellersInfo{
	margin-top:20px;
	display: flex;
	justify-content: center;
}
.sellers{
	position: relative;
}


/*Sales collection*/
.salesCollection{
	padding-left:20px;
	padding-right:20px;
	margin-top:20px;
}
.salesCollection div{
	padding:10px;
}
.productCollection{
	text-align: center;
	border:1px solid rgb(219, 219, 219);
	padding:10px;
	background:rgb(233, 233, 233);
}
.productCollection h4{
	text-align:center;
}

.salesCollection button,.local button{
	color:white;
	width:90%;
	background:#FF9955;
	border:none;
	margin-top:20px;
	margin-bottom:20px;
	cursor:pointer;
	outline:none;
	padding:10px;
}
.salesCollection button:hover, .local button{
	background:#ff9f5f;
}



/*Media queries*/
@media (max-width:768px) {
	.cardContainer div{
		min-width:49%;
		margin-left:.7%;
	}
	.salesCollection div{
		padding:10px !important; 
	}
}
@media (min-width:768px){
	
	.topSellersInfo{
		display:none !important;
	}
}


/*SVG animation*/
#theButton{
	cursor:pointer;
}
.imageHolder{
	padding:5px !important; 
}


.local{
	margin-top:30px;
	padding-left:45px;
	padding-right:45px;

}
.local button{
	width:auto !important;
}
.flexBox{
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.flexBox h4{
	font-weight:bold;
}