
/*Slider section*/
.banners{
	width:100%;
	height:100px;
	background:greenyellow;
}




/*Trending section*/
.trendingContainer{
	margin-top:25px;
	margin-left:10px;
	position: relative;
}
.super{
	overflow:hidden;
}
.cardContainer{
	position: relative;
	height:200px;
	transition:0.5s ease-in-out;
}
.beforeIcon,.afterIcon{
	cursor:pointer;
	font-weight:900;
	font-size:50px;
	height:40px;
	width:40px;
	border-radius:50%;
	position:absolute;
	top:100px;
	z-index: 2;
}
.beforeIcon i,.afterIcon i{
	opacity:.5;
}
.beforeIcon i:hover, .afterIcon i:hover{
	opacity:1;
}
.beforeIcon{
	content:"\f0a8";
	left:20px;
}
.afterIcon{
	float:right;
	content:"\f0a9";
	right:20px;
}
.trendingCards{
	position:absolute;
	top:0;
	border:1px solid grey;
	height:200px;
	width:200px;
}


