.rightSide{
    position:relative;
}
.banner{
    height:80px;
    background:green;
    width:100%;
}
.otherOptions,.otherOptionsShort{
    margin-bottom:30px;
    position:fixed;
    left:0;
    height:100%;
    padding-left:15px;
    padding-right:15px;
    overflow-y: auto;
    background: white;
}
.otherOptionsShort{
    display:none;
    padding-left:10px !important;
    padding-right:0px !important;
}
.otherOptions h5{
    font-weight: bold;
    margin-top:20px;
    margin-bottom:10px;
}
.userOptions{
    margin-top:20px;
    display:flex;
    flex-flow:column;
}
.userOptions a,.otherOptionsShort a{
    color:grey !important;
    text-decoration:none;
}
.userOptions a:hover,.otherOptionsShort a:hover{
    color:black !important;
    cursor:pointer;
}
.sellerOptions{
    margin-top:20px;
}
.sellerOptions .sellers,.sellerSpecial{
    background:grey;
    height:50px;
    width:50px;
    border-radius:50%;
    margin-top:10px;
    position:relative;
    cursor:pointer;
}
.sellerContent{
    height:50px;
    width:50px;
    position:absolute;
    top:0;
    background:green;
    left:50px;
}
.picture{
    padding-top:10px;
    padding-bottom:10px;
}
.priceRanges{
    margin-top:20px;
    display:flex;
    flex-flow:column;
    margin-bottom:20px;
}
.priceRanges a{
    color:grey !important;
}
.priceRanges a:hover{
    color:black !important;
    cursor:pointer;
}
.product{
    background:rgb(228, 228, 228);
    text-align:center;
    border:1px solid rgb(221, 221, 221);
    padding:10px;
    margin-top:20px;
    cursor:pointer;
    position:relative;
}
.product:hover{
    border:1px solid rgb(179, 179, 179);
}
.productDescription{
    padding-left:10px;
    padding-right:10px;
}
.productDescription h5{
    font-weight:bold;
}
.productDescription p{
    text-align:left;
    line-height:20px;
    
}
.productDescription button{
    color:white;
    background:#FF9955;
    cursor:pointer;
    padding:10px;
    outline:none;
    border:none;
    margin-top:10px; 
    margin-bottom:10px;
}
.productDescription button:hover{
    background:#ff9f5f;
}
.product>button{
    margin-bottom:20px;
}
.smText{
    display: none;
    text-align:center !important;
}
.price{
    font-weight:bold;
    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items:center;
}
.price .productPriceF{
    text-decoration:line-through;
}
.finalProduct{
    margin-bottom:20px;
}
/*Media quries*/
@media (max-width:768px)  {
    .productDescription p{
        font-size:14px !important;
    }
}
@media (max-width:800px)  {
    .product p{
        font-size:15px;
    }
    .lgText{
        display:none;
    }
}
@media (max-width:860px){
    .sellerOptions .sellers,.sellerSpecial{
        display:none;
    }
    .otherOptions{
        display:none;
    }
    .otherOptionsShort{
        display: block;
    }
    .userOptionsSmall{
        display:flex;
        flex-flow:column;
        margin-top:20px;
    }
    .topSellerSmall{
        display:flex;
        flex-flow:column;
        margin-top:20px;
    }
    .topSellerSmall div{
        height:30px;
        width:30px;
        border-radius:50%;
        background:grey;
        margin-top:10px;
    }
    .priceRange{
        display:flex;
        flex-flow:column;
        margin-top:20px;
        margin-bottom:20px;
    }
    .priceRange h5{
        font-weight:bold;
    }
    .product h5{
        margin-bottom:5px;
    }
    .price p{
        margin:5px !important;
    }
}
@media (max-width:400px){
    .product h5{
        font-size:14px;
    }
    .product p{
        font-size:10px !important;
    }
    .product button{
        padding:5px !important;
        font-size:10px;
    }
    .otherOptionsShort h5,a{
        font-size:15px; 
    }
}
/*Animations*/
#theButton{
    cursor:pointer;
}

/*Active*/
.active>a{
    color:black !important;
}
  
/*Popup*/
.popUp{
    position:absolute;
    bottom:50px;
    right:30px;
    width:20vw;
}
.popUp input{
    transform:scale(0);
    border-radius:10px;
    width:100%;
    transition: .25s ease-in-out;
    outline:none;
    padding:5px;
    border:.5px solid grey;

}
.sellerContent{
    position: fixed;
    padding:20px;
    width:20%;
    background:rgb(17, 16, 16);
    margin-left:20px;
    transition:.5s ease-in-out;
    color:white;
    transform:scale(0);
}
.visible{
    transform:scale(1) !important;
}
.invisible{
    transform:scale(0) !important;
}
