
<!DOCTYPE html>
<html>
    <head>
        <title> Index </title>
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/index.css"/> 
    </head>
<body>

    
<!--Remove the elements above it and import base.html-->

<!---sliderWithIndicators--->
<div class="banners">
		
</div>



<!---Trending--->
<div class="trendingContainer">
    <h4> Trending </h4>
    <div class="beforeIcon">
        <i class="fas fa-angle-left"></i>
    </div>
    <div class="afterIcon">
        <i class="fas fa-angle-right"></i>
    </div>
    <div class="super">
        <div class="cardContainer"><!---Yo hamro section-->
            
        </div>
    </div>
</div>

<!---To be imported from footer.js-->
</body>
<script src="https://kit.fontawesome.com/3c2a34836f.js" crossorigin="anonymous"></script>

<script type="text/javascript" src="../static/js/index.js"></script>
</html>
<!---Remove the code above-->