{% extends 'base.html' %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock head %}

{% block body %}

	

	<!--sliderWithIndicators-->
	<div class="banners">
	</div>



	<!--Trending-->
	<div class="trendingContainer">
		<h4> Trending </h4>
		<div class="cardContainer">
		</div>
		<div class="pointers">
		</div>
	</div>

	

	
{% comment %} <script type="text/javascript" src="JS/index.js"></script> {% endcomment %}

{% endblock body %}

</html>