
<!DOCTYPE html>
<html>
<head>
	<title> Online Shopping in Nepal || Banjoi </title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="perCSS/index.css"/>
</head>
<body>

	<!---Title and search--->
	<div class="container-fluid titleAndMenuHolder">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-12 logoHolder">
				<h1> bANJOI </h1>
			</div>
			<div class="col-lg-8 col-md-8 col-12 searchButtonHolder">
				<form>
					<input type="text" placeholder="Search your thread" />
				</form>
			</div>
			<div class="col-lg-1 col-md-1 col-12 userCartHolder">
				<div class="d-none d-md-block">
					<i class="fas fa-shopping-cart"></i>
				</div>

			</div>
		</div>
	</div>


	<!----Menu---->
	<div class="menu bg-dark">
		<ul class="nav nav-bar justify-content-end">
			<li class="nav-item">
				<a href="#" class="nav-link"> Home </a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link"> About </a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link"> Login </a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link"> SignUp</a>
			</li>
			<li class="nav-item d-block d-md-none iconSml">
				<a href="#" class="nav-link"> <i class="fas fa-shopping-cart"></i> </a>
			</li>
		</ul>
	</div>


	<!---sliderWithIndicators--->
	<div class="banners">
	</div>



	<!---Trending--->
	<div class="trendingContainer">
		<h4> Trending </h4>
		<div class="cardContainer">
		</div>
		<div class="pointers">
		</div>
	</div>

	
</body>
<script src="https://kit.fontawesome.com/3c2a34836f.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="JS/index.js"></script>
</html>