<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/indProducts.css" />
</head>

<body>
    <div class="container-fluid userChoiceProduct">
        <div class="row">
            <div class="col-lg-10 col-12">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-1 col-12">

                        </div>
                        <div class="col-lg-4 col-12 xzoom-container">
                            <img src="../static/Image/dummy2.jpg" xriginal="../static/Image/dummy2.jpg"
                                class="xzoom img-fluid" />
                            <div class="otherImages">

                            </div>
                        </div>
                        <div class="col-lg-5 col-12 description">
                            <h3> Razor Sharp </h3>
                            <a href="" class="seller"> From Ramesh Computers </a>
                            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolorem nemo porro
                                eveniet nihil
                                tempora dignissimos accusamus minima, obcaecati recusandae dolores cumque enim id
                                nostrum sapiente</p>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <h5 class="dummyPrice text-danger"> NRS. 100 </h5>
                            <h5 class="actualPrice"> NRS. 50 </h5>
                            <button><i class="fas fa-money-bill-wave-alt"></i> Buy </button> <button> <i
                                    class="fas fa-cart-arrow-down"></i>Add to cart </button>
                        </div>
                    </div>
                </div>
                <div class="heading">
                    <h5> More from Ramesh computers </h5>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-6 opContainer">
                            <div class="bg-danger secondParent">
                                <div class="rgb">
                                    <div class="otherProduct">
                                        <h5> Lenovo Laptop </h5>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i>
                                        <i class="fas fa-star"></i><br>
                                        <button> See more </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-6 opContainer">
                            <div class="bg-danger secondParent">
                                <div class="rgb">
                                    <div class="otherProduct">
                                        <h5> Lenovo Laptop </h5>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i>
                                        <i class="fas fa-star"></i><br>
                                        <button> See more </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-6 opContainer">
                            <div class="bg-danger secondParent">
                                <div class="rgb">
                                    <div class="otherProduct">
                                        <h5> Lenovo Laptop </h5>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i>
                                        <i class="fas fa-star"></i><br>
                                        <button> See more </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-12 svgContainer d-none d-lg-block">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="svg5" version="1.1" viewBox="0 0 52.917 154.781">
                    <defs id="defs2">
                        <path id="rect92260" d="M110.784 140.67h262.275v24.218H110.784z" />
                        <path id="rect81858" d="M172.102 128.304h120.059v24.218H172.102z" />
                        <path id="rect77890" d="M163.342 134.487h217.962v24.733H163.342z" />
                        <path id="rect71550" d="M226.721 139.124h78.837v23.187h-78.837z" />
                        <path id="rect45184" d="M348.326 123.151h393.671v94.811H348.326z" />
                        <path id="rect37698" d="M-24.568-123.116h85.574v21.532h-85.574z" />
                        <radialGradient xlink:href="#linearGradient99027" id="radialGradient99029" cx="105.465"
                            cy="21.665" r="11.316" fx="105.465" fy="21.665"
                            gradientTransform="matrix(1 0 0 .01771 0 21.282)" gradientUnits="userSpaceOnUse" />
                        <radialGradient xlink:href="#linearGradient99019" id="radialGradient99031" cx="104.784"
                            cy="3.397" r="11.316" fx="104.784" fy="3.397"
                            gradientTransform="matrix(1 0 0 .01771 0 3.337)" gradientUnits="userSpaceOnUse" />
                        <linearGradient id="linearGradient99027">
                            <stop id="stop99023" offset="0" stop-color="#f6f1f1" stop-opacity="1" />
                            <stop id="stop99025" offset="1" stop-color="#f6f1f1" stop-opacity="0" />
                        </linearGradient>
                        <linearGradient id="linearGradient99019">
                            <stop id="stop99015" offset="0" stop-color="#f6f1f1" stop-opacity="1" />
                            <stop id="stop99017" offset="1" stop-color="#f6f1f1" stop-opacity="0" />
                        </linearGradient>
                    </defs>
                    <g id="layer1" transform="translate(.193 -.193)"><text xml:space="preserve" id="text47280"
                            x="105.193" y="36.867" fill="#b87a7a" fill-opacity="1" stroke-width=".265"
                            font-family="sans-serif" font-size="4.939" style="line-height:1.25" />
                        <g id="g1237" transform="matrix(1.11164 0 0 1.12457 .022 -.024)">
                            <g id="g926" transform="matrix(-.00023 -.57852 2.05114 .02056 .358 139.085)">
                                <g id="g927" transform="matrix(1.00977 0 -.00161 .96439 .003 -.216)">
                                    <path id="mainbox" fill="#000" fill-rule="evenodd" stroke-width=".265"
                                        d="M-.193.193h238.125v23.813H-.193z" opacity=".872" />
                                    <path id="logoMostOuterc" fill="none" stroke="#fcf4f4" stroke-dasharray="none"
                                        stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4"
                                        stroke-opacity="1" stroke-width=".551"
                                        d="M9.191 3.424c-.541-.41-1.083-.821-1.958-.982-.876-.162-2.085-.073-2.922.221-.837.294-1.3.793-1.63 1.244-.329.451-.522.854-.595 1.358a3.571 3.571 0 0 0 .145 1.595c.17.487.46.857.876 1.256s.958.825 1.62 1.019c.663.193 1.446.152 2.23.112"
                                        opacity="1" />
                                    <path id="logoOuterC" fill="none" stroke="#fcf4f4" stroke-dasharray="none"
                                        stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4"
                                        stroke-opacity="1" stroke-width=".551"
                                        d="M6.401 2.91c-.72.086-1.439.17-2.042.543-.603.371-1.089 1.03-1.308 1.56-.22.531-.173.934-.089 1.34.084.408.206.818.496 1.201.29.384.748.74 1.248.957.5.217 1.042.294 1.472.313.43.02.747-.019 1.187-.15.439-.132 1-.357 1.392-.725.392-.368.617-.879.841-1.39"
                                        opacity="1" />
                                    <path id="logoInnerU" fill="none" stroke="#fcf4f4" stroke-dasharray="none"
                                        stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4"
                                        stroke-opacity="1" stroke-width=".551"
                                        d="M4.214 4.1c-.043 1.038-.086 2.076.206 2.789.292.712.917 1.1 1.614 1.167.698.067 1.469-.184 1.911-.603.442-.418.559-1.007.6-1.597.043-.59.01-1.182-.022-1.777"
                                        opacity="1" />
                                    <path id="star1" fill="#fff" fill-opacity="1" stroke="#fcf4f4"
                                        stroke-dasharray="none" stroke-miterlimit="4" stroke-opacity="1"
                                        stroke-width="0"
                                        d="M4.7 17.247a.62.694 0 0 1-.594.693.62.694 0 0 1-.645-.635.62.694 0 0 1 .54-.746.62.694 0 0 1 .69.572"
                                        opacity="1" paint-order="markers fill stroke" />
                                    
                                    <path id="star7" fill="#ececec" fill-opacity="1" stroke="#fcf4f4"
                                        stroke-dasharray="none" stroke-miterlimit="4" stroke-opacity="1"
                                        stroke-width="0"
                                        d="M192.872 5.693a.62.694 0 0 1-.594.693.62.694 0 0 1-.645-.635.62.694 0 0 1 .54-.747.62.694 0 0 1 .69.572"
                                        opacity="1" paint-order="markers fill stroke" />
                                    <path id="path41128" fill="#e6e6e6" fill-opacity="1" stroke="#fcf4f4"
                                        stroke-dasharray="none" stroke-miterlimit="4" stroke-opacity="1"
                                        stroke-width="0"
                                        d="M70.726 8.41a.62.694 0 0 1-.595.693.62.694 0 0 1-.644-.635.62.694 0 0 1 .54-.747.62.694 0 0 1 .69.572"
                                        opacity="1" paint-order="markers fill stroke" />
                                    <path id="star3" fill="#e6e6e6" fill-opacity="1" stroke="#fcf4f4"
                                        stroke-dasharray="none" stroke-miterlimit="4" stroke-opacity="1"
                                        stroke-width="0"
                                        d="M61.45 23.893a.62.694 0 0 1-.594.694.62.694 0 0 1-.645-.635.62.694 0 0 1 .54-.747.62.694 0 0 1 .69.572"
                                        opacity="1" paint-order="markers fill stroke" />
                                    <g id="text" transform="matrix(.02359 .29873 -3.34735 .00159 147.354 -19.738)"><text
                                            xml:space="preserve" id="create" fill="#ececec" font-family="sans-serif"
                                            font-size="18.667"
                                            style="line-height:1.25;white-space:pre;"
                                            transform="matrix(.26458 0 0 .26458 23.256 -29.8)">
                                            <tspan id="tspan1003" x="226.721" y="156.155">CREATE</tspan>
                                        </text><text xml:space="preserve" id="salesCall" fill="#0ad3d3" fill-opacity="1"
                                            font-family="sans-serif" font-size="18.667"
                                            style="line-height:1.25;white-space:pre;"
                                            transform="matrix(.26458 0 0 .26458 59.521 -26.801)">
                                            <tspan id="tspan1005" x="172.102" y="145.333">SALES CALL</tspan>
                                        </text><text xml:space="preserve" id="campaign" fill="#e6e6e6"
                                            font-family="sans-serif" font-size="18.667"
                                            style="line-height:1.25;white-space:pre;"
                                            transform="matrix(.26458 0 0 .26458 45.07 -23.665)">
                                            <tspan id="tspan1007" x="110.785" y="157.7">CAMPAIGNS IN 5 MINUTES</tspan>
                                        </text>
                                        <path id="textUPPerDash" fill="#ececec" stroke="url(#radialGradient99031)"
                                            stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1"
                                            stroke-width=".265" d="m93.468 3.329 22.631.136" />
                                        <path id="textLowerDash" fill="#ececec" stroke="url(#radialGradient99029)"
                                            stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1"
                                            stroke-width=".265" d="m94.15 21.597 22.631.137" />
                                    </g>
                                    <g id="theButton" transform="matrix(.01826 .36114 -2.55784 -.005 262.214 -61.134)">
                                        <rect id="trailBox" width="58.078" height="8.862" x="174.17" y="13.205"
                                            fill="#0f81f5" fill-opacity="1" fill-rule="evenodd" stroke-width=".326"
                                            opacity="1" rx="3.272" ry="3.272" /><text xml:space="preserve"
                                            id="startText" x="117.599" y="47.228" fill="#e6e6e6" stroke="#faece8"
                                            stroke-opacity="1" stroke-width=".265" font-family="sans-serif"
                                            font-size="4.939"
                                            style="line-height:1.25;white-space:pre;inline-size:48.2387"
                                            transform="matrix(.93507 0 0 .78017 68.045 -17.22)">
                                            <tspan id="tspan1009" x="117.599" y="47.228">START FREE TRIAL</tspan>
                                        </text>
                                        <path id="playCircle" fill="#000" fill-opacity="1" stroke="#faece8"
                                            stroke-dasharray="none" stroke-miterlimit="4" stroke-opacity="1"
                                            stroke-width="0"
                                            d="M229.088 17.828a2.318 2.273 0 0 1-2.22 2.271 2.318 2.273 0 0 1-2.407-2.08 2.318 2.273 0 0 1 2.017-2.446 2.318 2.273 0 0 1 2.577 1.874"
                                            opacity="1" paint-order="markers fill stroke" />
                                        <path id="playTriangle" fill="#f5eaea" fill-opacity="1" fill-rule="evenodd"
                                            stroke="#000" stroke-dasharray="none" stroke-dashoffset="0"
                                            stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4"
                                            stroke-opacity=".158" stroke-width="0"
                                            d="m331.587 128.032-29.055 5.478 9.784-27.9z" opacity="1"
                                            paint-order="markers fill stroke" stop-color="#000" stop-opacity="1"
                                            style="font-variation-settings:normal"
                                            transform="matrix(.09244 -.0171 .03093 .09896 193.777 11.405)" />
                                    </g>
                                    <path id="path111163" fill="#e6e6e6" fill-opacity="1" stroke="#fcf4f4"
                                        stroke-dasharray="none" stroke-miterlimit="4" stroke-opacity="1"
                                        stroke-width="0"
                                        d="M70.726 8.41a.62.694 0 0 1-.595.693.62.694 0 0 1-.644-.635.62.694 0 0 1 .54-.747.62.694 0 0 1 .69.572"
                                        opacity="1" paint-order="markers fill stroke" />
                                    <path id="path111165" fill="#e6e6e6" fill-opacity="1" stroke="#fcf4f4"
                                        stroke-dasharray="none" stroke-miterlimit="4" stroke-opacity="1"
                                        stroke-width="0"
                                        d="M153.145 9.293a.62.694 0 0 1-.595.694.62.694 0 0 1-.645-.635.62.694 0 0 1 .54-.747.62.694 0 0 1 .691.572"
                                        opacity="1" paint-order="markers fill stroke" />
                                    <path id="star5" fill="#e6e6e6" fill-opacity="1" stroke="#fcf4f4"
                                        stroke-dasharray="none" stroke-miterlimit="4" stroke-opacity="1"
                                        stroke-width="0"
                                        d="M153.145 9.293a.62.694 0 0 1-.595.694.62.694 0 0 1-.645-.635.62.694 0 0 1 .54-.747.62.694 0 0 1 .691.572"
                                        opacity="1" paint-order="markers fill stroke" />
                                    <path id="star6" fill="#91a3c1" fill-opacity="1" stroke="#fcf4f4"
                                        stroke-dasharray="none" stroke-miterlimit="4" stroke-opacity="1"
                                        stroke-width="0"
                                        d="M167.065 20.341a.62.694 0 0 1-.594.694.62.694 0 0 1-.645-.635.62.694 0 0 1 .54-.747.62.694 0 0 1 .69.572"
                                        opacity="1" paint-order="markers fill stroke" />
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>

            </div>
        </div>
    </div>


    <!---Comment section-->
    <div class="container-fluid commentContainer">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-12 userComment">
                <h5> Leave a comment </h5>
                <form>
                    <textarea class="commentSection"></textarea>
                </form>
                <h5> Leave review </h5>
                <form class="userReview">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    <i class="fas fa-star"></i><i class="fas fa-star"></i>
                </form>
            </div>
            <div class="col-lg-9 col-md-9 col-12 othersComments">
                <h2> 5 Comments </h2>
                <div id="comment1" class="customerComments">
                    <div class="pfp">
                        <!--Remove this div when image added-->
                        <div class="photo">

                        </div>
                    </div>
                    <div class="comment">

                    </div>
                </div>
                <div id="comment2" class="customerComments">
                    <div class="pfp">
                        <!--Remove this div when image added-->
                        <div class="photo">

                        </div>
                    </div>
                    <div class="comment">

                    </div>
                </div>
                <div id="comment3" class="customerComments">
                    <div class="pfp">
                        <div class="photo">

                        </div>
                    </div>
                    <div class="comment">
                        <h5 class="name"> Hirohiko </h5>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        <p> Product was good </p>
                        <button> Report </button>
                    </div>
                </div>
                <div id="comment4" class="customerComments">
                    <div class="pfp">
                        <div class="photo">

                        </div>
                    </div>
                    <div class="comment">

                        <button> Report </button>
                    </div>
                </div>
                <div id="comment5" class="customerComments">
                    <div class="pfp">
                        <div class="photo">

                        </div>
                    </div>
                    <div class="comment">

                        <button id="upcall"> Report </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/3c2a34836f.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
<script src="../static/js/indProducts.js"></script>
</html>