<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/indProducts.css" />
</head>

<body>
    <div class="container-fluid userChoiceProduct">
        <div class="row">
            <div class="col-lg-10 col-12">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-1 col-12">

                        </div>
                        <div class="col-lg-4 col-12 xzoom-container">
                            <img src="../static/Image/dummy2.jpg" xriginal="../static/Image/dummy2.jpg"
                                class="xzoom img-fluid" />
                            <div class="otherImages">

                            </div>
                        </div>
                        <div class="col-lg-5 col-12 description">
                            <h3> Razor Sharp </h3>
                            <a href="" class="seller"> From Ramesh Computers </a>
                            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolorem nemo porro
                                eveniet nihil
                                tempora dignissimos accusamus minima, obcaecati recusandae dolores cumque enim id
                                nostrum sapiente</p>
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                <i class="fas fa-star"></i> 
                            <h5 class="dummyPrice text-danger"> NRS. 100 </h5>
                            <h5 class="actualPrice"> NRS. 50 </h5>
                            <button><i class="fas fa-money-bill-wave-alt"></i> Buy </button> <button> <i
                                    class="fas fa-cart-arrow-down"></i>Add to cart </button>
                        </div>
                    </div>
                </div>
                <div class="heading">
                    <h5> More from Ramesh computers </h5>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-6 opContainer">
                            <div class="bg-danger secondParent">
                                <div class="rgb">
                                <div class="otherProduct">
                            <h5> Lenovo Laptop </h5>
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                <i class="fas fa-star"></i><br>
                            <button> See more </button>
                            </div>
                            </div> 
                        </div>
                    </div>
                        <div class="col-lg-4 col-md-4 col-6 opContainer">
                            <div class="bg-danger secondParent">
                                <div class="rgb">
                                <div class="otherProduct">
                            <h5> Lenovo Laptop </h5>
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                <i class="fas fa-star"></i><br>
                            <button> See more </button>
                            </div>
                            </div> 
                        </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-6 opContainer">
                            <div class="bg-danger secondParent">
                                <div class="rgb">
                                <div class="otherProduct">
                            <h5> Lenovo Laptop </h5>
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                <i class="fas fa-star"></i><br>
                            <button> See more </button>
                            </div>
                            </div> 
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-12 bg-dark">
            </div>
        </div>
    </div>


    <!---Comment section-->
    <div class="container-fluid commentContainer">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-12 userComment">
                <h5> Leave a comment </h5> 
                <form>
                    <textarea class="commentSection"></textarea>
                </form>
                <h5> Leave review </h5>
                <form>
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                <i class="fas fa-star"></i><i class="fas fa-star"></i>
                </form>
            </div>
            <div class="col-lg-9 col-md-9 col-12 othersComments">
                <h2> 5 Comments </h2>
                <div id="comment1" class="customerComments">
                    <div class="pfp">
                        <!--Remove this div when image added-->
                        <div class="photo">

                        </div>
                    </div>
                    <div class="comment">
                        
                    </div>
                </div>
                <div id="comment2" class="customerComments">
                    <div class="pfp">
                        <!--Remove this div when image added-->
                        <div class="photo">

                        </div>
                    </div>
                    <div class="comment">
                        
                    </div>
                </div>
                <div id="comment3" class="customerComments">
                    <div class="pfp">
                        <div class="photo">
                            
                        </div>
                    </div>
                    <div class="comment">
                        <h5 class="name"> Hirohiko </h5>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        <p> Product was good </p>
                        <button> Report </button> 
                    </div>
                </div>
                <div id="comment4" class="customerComments">
                    <div class="pfp">
                        <div class="photo">
                            
                        </div>
                    </div>
                    <div class="comment">
                        
                        <button> Report </button> 
                    </div>
                </div>
                <div id="comment5" class="customerComments">
                    <div class="pfp">
                        <div class="photo">
                            
                        </div>
                    </div>
                    <div class="comment">
                        
                        <button> Report </button> 
                    </div>
                </div>
                 
            </div>
        </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/3c2a34836f.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../static/js/indProducts.js"></script>

</html>