{% extends 'base.html' %}
{% load static %}
{% load account %}
{% load socialaccount %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock head %}

{% block body %}

<div style="margin-top: 25px">
  <div class="imgcontainer">
    <a href="{% provider_login_url 'google' %}" target="_parent" class="fa fa-google"></a>
    {% comment %} <a href="{% provider_login_url 'facebook' method='oauth2'%}" class="fa fa-facebook"></a>  Doesnot work in development mode needs ssl certificate{% endcomment %}
  </div>

    <form action="{% url 'login_request' %}" method="post" style="max-width:600px">
    {% csrf_token %}
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
  
      <button type="submit">Login</button>
      
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <a href="{% url 'register' %}"><button type="button" class="cancelbtn">Sign Up</button></a>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form> 
</div>

{% endblock body %}