<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/index.css"/> 
        <link rel="stylesheet" type="text/css" href="../static/css/product.css"/>
        <title> </title>
    </head>
    <!---The above header will be removed when embedded with base.html-->
<body>
    <div class="container-fluid productContainer">
        <div class="row" style="padding:0px">
            <div class="col-2">
                <div class="otherOptions">
                <h5> Also see </h5>
                <div class="userOptions">
                </div>
                <h5> Top sellers </h5>
                <div class="sellerOptions">

                </div>
                <h5> Price range </h5> 
                <div class="priceRanges">
                    <a> 100-500</a>
                    <a> 500-1000</a>
                    <a> 1000-10000</a>
                    <a> > 10000</a>
                </div>
                
                </div>
                <div class="otherOptionsShort">
                    <div class="userOptionsSmall">
                        <a> Locals </a>
                        <a> Art </a>
                    </div>
                    <div class="topSellersSmall">
                        
                    </div>
                </div>
            </div>
            <div class="col-10 rightSide">
                <div class="banner"></div>
                <div class="container-fluid spaceContainers">
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-6">
                            <div class="product">
                                <div class="picture">
                                    <img src="../static/Image/dummy.jpg" class="img-fluid"/>
                                </div>
                               <div class="productDescription">
                                    <h5> Razor sharp </h5>
                                    <p class="lgText"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ex! 
                                        Sapiente perspiciatis quis amet sunt aliquam eaque dolor</p>
                                    <p class="smText"> Lorem ipsum, dolor sit amet consectetur 
                                        adipisicing elit. Doloribus tenetur quasi</p>
                                    <div class="price">
                                    <p> Price: Rs. 100
                                    </p> 
                                    </div>
                                        <a href="#" class="smText"> Read more </a>

                                        <button class="firstButton"><i class="fas fa-cart-arrow-down"></i> Add to cart </button><button class="lastButton"><i class="fas fa-sort-up"></i></button>
                               </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-6 space">
                        </div>
                        <div class="col-lg-4 col-md-4 col-6 space">
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-6 space">
                        </div>
                        <div class="col-lg-4 col-md-4 col-6 space">
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-6 space">
                        </div>
                        <div class="col-lg-4 col-md-4 col-6 space">
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-6 space">
                        </div>
                        <div class="col-lg-4 col-md-4 col-6 space">
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-6 space">
                        </div>
                        <div class="col-lg-4 col-md-4 col-6 space">
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-6 space">
                        </div>
                        <div class="col-lg-4 col-md-4 col-6 space">
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-6 space">
                        </div>
                        <div class="col-lg-4 col-md-4 col-6 space">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!---Footer addition may give problems to the side bar-->
</body>
<script src="https://kit.fontawesome.com/3c2a34836f.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/product.js"></script>
</html>