<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/product.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> </title>
</head>
<!---The above header will be removed when embedded with base.html-->

<body>
    <div class="pageType">
        <div class="local">

        </div>
    </div>
    <div class="container-fluid productContainer">
        <div class="row" style="padding:0px">
            <div class="col-2">
                <div class="otherOptions">
                    <h5> Also see </h5>
                    <div class="userOptions">

                        <span class="active"><a class="otherProducts">locals</a></span>
                        <a class="otherProducts">art</a>
                        <a class="otherProducts">book</a>
                        <a class="otherProducts">auction</a>
                        <a class="otherProducts">music</a>
                        <a class="otherProducts">designs</a>
                        <a class="otherProducts">school</a>
                        <a class="otherProducts">parts</a>
                    </div>
                    <h5> Top sellers </h5>
                    <div class="sellerOptions">
                        <div class="sellers">

                        </div>

                        <div class="sellers"></div>

                        <div class="sellers"></div>

                        <div class="sellers"></div>

                        <div class="sellers"></div>
                    </div>
                    <h5> Price range </h5>
                    <div class="priceRanges">
                        <a> 100-500</a>
                        <a> 500-1000</a>
                        <a> 1000-10000</a>
                        <a> > 10000</a>
                    </div>

                </div>
                <div class="otherOptionsShort">
                    <div class="userOptionsSmall">
                        <span class="active"><a> 1 </a></span>
                        <a> 2 </a>
                        <a> 3 </a>
                        <a> 4 </a>
                        <a> 5 </a>
                        <a> 6 </a>
                        <a> 7 </a>
                        <a> 8 </a>
                    </div>
                    <div class="topSellerSmall">
                        <div class="sellers"></div>

                        <div class="sellers"></div>

                        <div class="sellers"></div>

                        <div class="sellers"></div>

                        <div class="sellers"></div>
                    </div>
                    <div class="priceRange">
                        <h5> Price </h5>
                        <a href=""> Low </a>
                        <a href=""> Med </a>
                        <a href=" ">High </a>
                    </div>
                </div>
            </div>
            <div class="col-10 rightSide">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="svg5"
                    version="1.1" viewBox="0 0 264.583 26.458">
                    <defs id="defs2">
                        <path id="rect92260" d="M110.784 140.67h262.275v24.218H110.784z" />
                        <path id="rect81858" d="M172.102 128.304h120.059v24.218H172.102z" />
                        <path id="rect77890" d="M163.342 134.487h217.962v24.733H163.342z" />
                        <path id="rect71550" d="M226.721 139.124h78.837v23.187h-78.837z" />
                        <path id="rect45184" d="M348.326 123.151h393.671v94.811H348.326z" />
                        <path id="rect37698" d="M-24.568-123.116h85.574v21.532h-85.574z" />
                        <radialGradient xlink:href="#linearGradient99027" id="radialGradient99029" cx="105.465"
                            cy="21.665" r="11.316" fx="105.465" fy="21.665"
                            gradientTransform="matrix(1 0 0 .01771 0 21.282)" gradientUnits="userSpaceOnUse" />
                        <radialGradient xlink:href="#linearGradient99019" id="radialGradient99031" cx="104.784"
                            cy="3.397" r="11.316" fx="104.784" fy="3.397"
                            gradientTransform="matrix(1 0 0 .01771 0 3.337)" gradientUnits="userSpaceOnUse" />
                        <linearGradient id="linearGradient99027">
                            <stop id="stop99023" offset="0" stop-color="#f6f1f1" stop-opacity="1" />
                            <stop id="stop99025" offset="1" stop-color="#f6f1f1" stop-opacity="0" />
                        </linearGradient>
                        <linearGradient id="linearGradient99019">
                            <stop id="stop99015" offset="0" stop-color="#f6f1f1" stop-opacity="1" />
                            <stop id="stop99017" offset="1" stop-color="#f6f1f1" stop-opacity="0" />
                        </linearGradient>
                    </defs>
                    <g id="layer1" transform="translate(.193 -.193)"><text xml:space="preserve" id="text47280"
                            x="105.193" y="36.867" fill="#b87a7a" fill-opacity="1" stroke-width=".265"
                            font-family="sans-serif" font-size="4.939" style="line-height:1.25" />
                        <g id="g1237" transform="matrix(1.11164 0 0 1.12457 .022 -.024)">
                            <path id="mainbox" fill="#000" fill-rule="evenodd" stroke-width=".265"
                                d="M-.193.193h238.125v23.813H-.193z" opacity=".872" />
                            <path id="logoMostOuterc" fill="none" stroke="#fcf4f4" stroke-dasharray="none"
                                stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-opacity="1"
                                stroke-width=".551"
                                d="M9.191 3.424c-.541-.41-1.083-.821-1.958-.982-.876-.162-2.085-.073-2.922.221-.837.294-1.3.793-1.63 1.244-.329.451-.522.854-.595 1.358a3.571 3.571 0 0 0 .145 1.595c.17.487.46.857.876 1.256s.958.825 1.62 1.019c.663.193 1.446.152 2.23.112"
                                opacity="1" />
                            <path id="logoOuterC" fill="none" stroke="#fcf4f4" stroke-dasharray="none"
                                stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-opacity="1"
                                stroke-width=".551"
                                d="M6.401 2.91c-.72.086-1.439.17-2.042.543-.603.371-1.089 1.03-1.308 1.56-.22.531-.173.934-.089 1.34.084.408.206.818.496 1.201.29.384.748.74 1.248.957.5.217 1.042.294 1.472.313.43.02.747-.019 1.187-.15.439-.132 1-.357 1.392-.725.392-.368.617-.879.841-1.39"
                                opacity="1" />
                            <path id="logoInnerU" fill="none" stroke="#fcf4f4" stroke-dasharray="none"
                                stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-opacity="1"
                                stroke-width=".551"
                                d="M4.214 4.1c-.043 1.038-.086 2.076.206 2.789.292.712.917 1.1 1.614 1.167.698.067 1.469-.184 1.911-.603.442-.418.559-1.007.6-1.597.043-.59.01-1.182-.022-1.777"
                                opacity="1" /><text xml:space="preserve" id="upcall" x="10.515" y="6.858" fill="#fbf3f3"
                                fill-opacity="1" stroke-width=".143" font-family="sans-serif" font-size="2.674"
                                style="line-height:1.25" transform="scale(1.10253 .907)">
                                <tspan id="tspan38252" x="10.515" y="6.858" fill="#fbf3f3" fill-opacity="1"
                                    stroke-width=".143">U P C A L L</tspan>
                            </text>
                            <path id="star1" fill="#fff" fill-opacity="1" stroke="#fcf4f4" stroke-dasharray="none"
                                stroke-miterlimit="4" stroke-opacity="1" stroke-width="0"
                                d="M4.7 17.247a.62.694 0 0 1-.594.693.62.694 0 0 1-.645-.635.62.694 0 0 1 .54-.746.62.694 0 0 1 .69.572"
                                opacity="1" paint-order="markers fill stroke" />
                            <g id="planets" fill-opacity="1">
                                <path id="saturn" fill="#f57520" stroke="#fa6c47" stroke-dasharray="none"
                                    stroke-miterlimit="4" stroke-opacity="1" stroke-width="0"
                                    d="M39.599 19.953a4.704 4.635-30.363 0 1-1.547 6.274 4.704 4.635-30.363 0 1-6.359-1.19 4.704 4.635-30.363 0 1 1.012-6.374 4.704 4.635-30.363 0 1 6.443.653"
                                    opacity=".872" paint-order="markers fill stroke" />
                                <path id="earth1" fill="#1c1167" stroke-opacity=".158" stroke-width="13.539"
                                    d="M20.702 9.424c-3.396.543-6.463 2.566-8.08 5.401-2.037 3.437-1.835 7.9.532 11.156 2.26 3.248 6.574 5.145 10.71 4.61 4.148-.457 7.814-3.287 9.166-6.947 1.587-3.953.39-8.716-2.98-11.563-2.467-2.171-5.997-3.16-9.348-2.657Z"
                                    opacity="1" paint-order="markers fill stroke" />
                                <ellipse id="planet1" cx="10.288" cy="23.882" fill="#423ec1" stroke-opacity=".158"
                                    stroke-width="7.261" opacity="1" paint-order="markers fill stroke" rx="3.268"
                                    ry="3.101" />
                                <path id="earthland" fill="#116721" stroke="none" stroke-dasharray="none"
                                    stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4"
                                    stroke-opacity="1" stroke-width=".306"
                                    d="M13.06 14.638c-1.07 1.248-1.878 3.535-1.424 7.617.556 4.394 6.283 4.284 6.515 6.357.166 1.76-1.207-1.28 0 0 1.33-.218-1.175-.461 0 0 2.127-.606 3.94 1.248 6.377.822 1.879-.389 3.067-1.038 2.5-2.647-.648-1.158-2.566-2.642-2.768-4.024-.365-1.25 2.434-3.548-2.204-6.182-1.115-1.157 1.67 1.7 0 0-1.228-1.14-9.008-.384-8.996-1.943-.383-.119 0 0 0 0z"
                                    opacity="1" />
                                <path id="path4485" fill="#161379" stroke="none" stroke-dasharray="none"
                                    stroke-miterlimit="4" stroke-opacity=".158" stroke-width=".265"
                                    d="M9.8 23.679a.666.747 0 0 1-.639.746.666.747 0 0 1-.692-.683.666.747 0 0 1 .58-.804.666.747 0 0 1 .74.616"
                                    opacity="1" paint-order="markers fill stroke" />
                                <path id="saturnrings" fill="#e6e6e6" stroke="#fa6c47" stroke-dasharray="none"
                                    stroke-miterlimit="4" stroke-opacity="1" stroke-width="0"
                                    d="m38.88 18.826-.295.032a1.177 5.076 43.867 0 0-.387.141 1.576 5.921 44.759 0 1-2.156 3.67 1.576 5.921 44.759 0 1-3.978 3.562 1.177 5.076 43.867 0 0 .35.087 1.177 5.076 43.867 0 0 4.785-3.775 1.177 5.076 43.867 0 0 1.642-2.291 2.274 5.992 46.997 0 1-1.946 2.916 2.274 5.992 46.997 0 1-4.275 3.231 1.695 5.149 45.933 0 0 .403.24 1.695 5.149 45.933 0 0 5.176-3.22 1.695 5.149 45.933 0 0 1.661-4.26l-.332-.065a1.695 5.149 45.933 0 0-.338.029 1.177 5.076 43.867 0 0-.31-.297z"
                                    opacity=".872" paint-order="markers fill stroke" />
                                <path id="sunspot" fill="#f2f2f2" stroke="none" stroke-dasharray="none"
                                    stroke-miterlimit="4" stroke-opacity=".158" stroke-width="1.002"
                                    d="M21.272 23.631a4.677 4.973 0 0 1-4.48 4.97 4.677 4.973 0 0 1-4.857-4.551 4.677 4.973 0 0 1 4.071-5.352 4.677 4.973 0 0 1 5.2 4.1"
                                    opacity=".106" paint-order="markers fill stroke"
                                    transform="matrix(.95135 -.30811 .44421 .89592 0 0)" />
                                <path id="star2" fill="#4bb2b2" stroke="#fcf4f4" stroke-dasharray="none"
                                    stroke-miterlimit="4" stroke-opacity="1" stroke-width="0"
                                    d="M11.055 12.573a.62.694 0 0 1-.595.693.62.694 0 0 1-.645-.635.62.694 0 0 1 .54-.747.62.694 0 0 1 .691.572"
                                    opacity="1" paint-order="markers fill stroke" />
                            </g>
                            <path id="star7" fill="#ececec" fill-opacity="1" stroke="#fcf4f4" stroke-dasharray="none"
                                stroke-miterlimit="4" stroke-opacity="1" stroke-width="0"
                                d="M192.872 5.693a.62.694 0 0 1-.594.693.62.694 0 0 1-.645-.635.62.694 0 0 1 .54-.747.62.694 0 0 1 .69.572"
                                opacity="1" paint-order="markers fill stroke" />
                            <path id="path41128" fill="#e6e6e6" fill-opacity="1" stroke="#fcf4f4"
                                stroke-dasharray="none" stroke-miterlimit="4" stroke-opacity="1" stroke-width="0"
                                d="M70.726 8.41a.62.694 0 0 1-.595.693.62.694 0 0 1-.644-.635.62.694 0 0 1 .54-.747.62.694 0 0 1 .69.572"
                                opacity="1" paint-order="markers fill stroke" />
                            <path id="star3" fill="#e6e6e6" fill-opacity="1" stroke="#fcf4f4" stroke-dasharray="none"
                                stroke-miterlimit="4" stroke-opacity="1" stroke-width="0"
                                d="M61.45 23.893a.62.694 0 0 1-.594.694.62.694 0 0 1-.645-.635.62.694 0 0 1 .54-.747.62.694 0 0 1 .69.572"
                                opacity="1" paint-order="markers fill stroke" />
                            <g id="text"><text xml:space="preserve" id="create" fill="#ececec" font-family="sans-serif"
                                    font-size="18.667" style="line-height:1.25;white-space:pre;"
                                    transform="matrix(.26458 0 0 .26458 23.256 -29.8)">
                                    <tspan id="tspan969" x="226.721" y="156.155">CREATE</tspan>
                                </text>
                                <text xml:space="preserve" id="salesCall" fill="#0ad3d3" fill-opacity="1"
                                    font-family="sans-serif" font-size="18.667"
                                    style="line-height:1.25;white-space:pre;"
                                    transform="matrix(.26458 0 0 .26458 59.521 -26.801)">
                                    <tspan id="tspan971" x="172.102" y="145.333">SALES CALL</tspan>
                                </text><text xml:space="preserve" id="campaign" fill="#e6e6e6" font-family="sans-serif"
                                    font-size="18.667" style="line-height:1.25;white-space:pre;"
                                    transform="matrix(.26458 0 0 .26458 45.07 -23.665)">
                                    <tspan id="tspan973" x="110.785" y="157.7">CAMPAIGNS IN 5 MINUTES</tspan>
                                </text>
                                <path id="textUPPerDash" fill="#ececec" stroke="url(#radialGradient99031)"
                                    stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1" stroke-width=".265"
                                    d="m93.468 3.329 22.631.136" />
                                <path id="textLowerDash" fill="#ececec" stroke="url(#radialGradient99029)"
                                    stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1" stroke-width=".265"
                                    d="m94.15 21.597 22.631.137" />
                            </g>
                            <g id="theButton">
                                <rect id="trailBox" width="58.078" height="8.862" x="174.17" y="13.205" fill="#0f81f5"
                                    fill-opacity="1" fill-rule="evenodd" stroke-width=".326" opacity="1" rx="3.272"
                                    ry="3.272" /><text xml:space="preserve" id="startText" x="117.599" y="47.228"
                                    fill="#e6e6e6" stroke="#faece8" stroke-opacity="1" stroke-width=".265"
                                    font-family="sans-serif" font-size="4.939"
                                    style="line-height:1.25;white-space:pre;inline-size:48.2387"
                                    transform="matrix(.93507 0 0 .78017 68.045 -17.22)">
                                    <tspan id="tspan975" x="117.599" y="47.228">START FREE TRIAL</tspan>
                                </text>
                                <path id="playCircle" fill="#000" fill-opacity="1" stroke="#faece8"
                                    stroke-dasharray="none" stroke-miterlimit="4" stroke-opacity="1" stroke-width="0"
                                    d="M229.088 17.828a2.318 2.273 0 0 1-2.22 2.271 2.318 2.273 0 0 1-2.407-2.08 2.318 2.273 0 0 1 2.017-2.446 2.318 2.273 0 0 1 2.577 1.874"
                                    opacity="1" paint-order="markers fill stroke" />
                                <path id="playTriangle" fill="#f5eaea" fill-opacity="1" fill-rule="evenodd"
                                    stroke="#000" stroke-dasharray="none" stroke-dashoffset="0" stroke-linecap="butt"
                                    stroke-linejoin="miter" stroke-miterlimit="4" stroke-opacity=".158" stroke-width="0"
                                    d="m331.587 128.032-29.055 5.478 9.784-27.9z" opacity="1"
                                    paint-order="markers fill stroke" stop-color="#000" stop-opacity="1"
                                    style="font-variation-settings:normal"
                                    transform="matrix(.09244 -.0171 .03093 .09896 193.777 11.405)" />
                            </g>
                            <path id="path111163" fill="#e6e6e6" fill-opacity="1" stroke="#fcf4f4"
                                stroke-dasharray="none" stroke-miterlimit="4" stroke-opacity="1" stroke-width="0"
                                d="M70.726 8.41a.62.694 0 0 1-.595.693.62.694 0 0 1-.644-.635.62.694 0 0 1 .54-.747.62.694 0 0 1 .69.572"
                                opacity="1" paint-order="markers fill stroke" />
                            <path id="path111165" fill="#e6e6e6" fill-opacity="1" stroke="#fcf4f4"
                                stroke-dasharray="none" stroke-miterlimit="4" stroke-opacity="1" stroke-width="0"
                                d="M153.145 9.293a.62.694 0 0 1-.595.694.62.694 0 0 1-.645-.635.62.694 0 0 1 .54-.747.62.694 0 0 1 .691.572"
                                opacity="1" paint-order="markers fill stroke" />
                            <path id="star5" fill="#e6e6e6" fill-opacity="1" stroke="#fcf4f4" stroke-dasharray="none"
                                stroke-miterlimit="4" stroke-opacity="1" stroke-width="0"
                                d="M153.145 9.293a.62.694 0 0 1-.595.694.62.694 0 0 1-.645-.635.62.694 0 0 1 .54-.747.62.694 0 0 1 .691.572"
                                opacity="1" paint-order="markers fill stroke" />
                            <path id="star6" fill="#91a3c1" fill-opacity="1" stroke="#fcf4f4" stroke-dasharray="none"
                                stroke-miterlimit="4" stroke-opacity="1" stroke-width="0"
                                d="M167.065 20.341a.62.694 0 0 1-.594.694.62.694 0 0 1-.645-.635.62.694 0 0 1 .54-.747.62.694 0 0 1 .69.572"
                                opacity="1" paint-order="markers fill stroke" />
                        </g>
                    </g>
                </svg>
                <div class="container-fluid spaceContainers">
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-6">
                       <a href="">
                        <div class="product">
                            <div class="picture">
                                <img src="../static/Image/dummy.jpg" class="img-fluid" />
                            </div>
                            <div class="productDescription">
                                <h5> Razor sharp </h5>
                                <p class="lgText"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
                                    ex!
                                    Sapiente perspiciatis quis amet sunt aliquam eaque</p>
                                <div class="price">
                                    <p class="text-danger"> Rs.<span class="productPriceF"> 100</span></p>
                                    <p> Rs.<span class="producetPriceR"> 50 </span></p>
                                </div>

                                <button class="firstButton"><i class="fas fa-cart-arrow-down"></i> Add to cart
                                </button><button class="lastButton">
                                    <div class="popUp">
                                        <form>
                                            <input type="number" placeholder="Number of products" />
                                        </form>

                                    </div>
                                    <i class="fas fa-sort-up"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 space">
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 space">
                    </div>

                    <div class="col-lg-4 col-md-4 col-6 space">
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 space">
                    </div>

                    <div class="col-lg-4 col-md-4 col-6 space">
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 space">
                    </div>

                    <div class="col-lg-4 col-md-4 col-6 space">
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 space">
                    </div>

                    <div class="col-lg-4 col-md-4 col-6 space">
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 space">
                    </div>

                    <div class="col-lg-4 col-md-4 col-6 space">
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 space">
                    </div>

                    <div class="col-lg-4 col-md-4 col-6 space">
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 space">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!---Footer addition may give problems to the side bar-->
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
<script src="https://kit.fontawesome.com/3c2a34836f.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/product.js"></script>
<script type="text/javascript" src="../static/js/productGSAP.js"></script>

</html>