{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock head %}

{% block body %}

<div style="margin-top: 25px">
    <form action="{% url 'register_request' %}" method="post" style="max-width:600px">
    {% csrf_token %}
    {% comment %} <div class="imgcontainer">
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div> {% endcomment %}
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <label for="psw"><b>Confirm Password</b></label>
      <input type="password" placeholder="Enter Password Again" name="confirmPassword" required>
  
      <button type="submit">Register</button>
      
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <a href="{% url 'login' %}"><button type="button" class="cancelbtn">Sign In</button></a>
    </div>
  </form> 
</div>

{% endblock body %}